.hide
  {
    display: none;
  }
body
  {
    background: #FFFFFF url("../Assets/BG.png");
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #333333
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
h1, h2
  {
    font-family: "Lobster", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
  }
h2
  {
    font-size:36px;
    font-weight: normal;
    margin-bottom: 5px;
  }
h4
  {
    font-size:24px;
    line-height:20px;
    font-weight:300;
  }
p
  {
    font-size:16px;
    line-height:20px;
    font-weight:300;
  }
img
  {
    max-width:100%;
  }

/* GRID */
.container
  {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
.container:before,
.container:after
  {
    content: " ";
    display: table;
  }
.container:after
  {
    clear: both;
  }





/* HEADER */
header
  {
	  width:100%;
	  height:60px;
	  line-height:60px;
  }
header nav
  {
    padding:1em 0;
  }
header nav ul > li
  {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
  }
header nav ul > li > a
  {
    color:#333333;
    text-decoration: none;
  }
.one-half
  {
    text-align:center;
  }
.rt-half
  {
    padding-left:12%;
  }


/* MENU */
.hamburger
  {
    display:hide;
    position:absolute;
    z-index: 1000;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 4px;
    left: 5px;
    top: 15px;
  }

/* Hero */
.hero
  {
	  content: url("../Assets/BG_img.png");
  	z-index: 1;
  }
#greet
  {
  	z-index: 100;
    position:absolute;
    top:53%;
    left:10%;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
  }
#name
  {
    text-align:center;
  	z-index: 100;
    position:absolute;
    top:33%;
    left:41%;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
  }
#blurb
  {
    text-align:right;
    z-index: 100;
    position:absolute;
    border-radius: 10px;
    top:80%;
    left:22%;
    background-color: rgba(255,255,255,0.6);
  }
#about-header
  {
    list-style:none;
    z-index: 100;
    position:absolute;
    top:150%;
    left:36%;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
#work-header
  {
    list-style:none;
    z-index: 100;
    position:absolute;
    top:117%;
    right:27%;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
  }
#contact-header
  {
    text-align:center;
    list-style:none;
    z-index: 100;
    position:absolute;
    top:171%;
    right:25%;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }

/* About */
.about-label
  {
    padding-bottom:2em;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
.one-third
  {
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    list-style:none;
    background-color: rgba(255,255,255,0.6);
  }
#kcnc, #bb8, #film
  {
    list-style:none;
    text-align:center;
  }
.passionprojects
  {
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
  }
.pp2
  {
    padding-left:15em;
  }

/* Work */
.work-label
  {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
  }
.three-third
  {
    background-color: rgba(255,255,255,0.6);
  }
.four-third, .three-third
  {
    list-style:none;
  }
.workprojects
  {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    padding-right:1em;
    padding-top:4em;
  }

/* Contact */
.contact-label
  {
    padding-right:30em;
    text-align:center;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
input[type=text], select, textarea
  {
    width: 50%;
    padding: 1em;
    border: 1px solid #333333;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical
  }
input[type=submit]
  {
    background-color: #CBDBF2;
    color: #333333;
    padding: 1em 5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left:20em;
  }
input[type=submit]:hover
  {
    background-color: #333333;
    color: #FFFFFF;
  }
#cntct
  {
    padding-left: 25em;
  }
#submit-errors, #submit-success
  {
    display:none;
  }
button, input, select, textarea
  {
    font-family : inherit;
    font-size   : 100%;
  }

/* FOOTER */
footer
  {
    margin:auto;
    padding-top:10px;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    padding-top:2em;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: 0.5em 20% 2em 22%;
	  border: 2px solid #dddddd;
	  border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
    background-color: rgba(255,255,255,0.6);
  }
.footer-left
  {
    padding-left:.5em;
    padding-top:2em;
  }
.footer-mid
  {
	  padding-top:1em;
    padding-left:10%;
	  text-decoration: none;
    text-align:center;
  }



/* Media Queries */
@media all (min-width: 768px)
  {
   .container hero
      {
        text-align: center;
        display:block;
        position: relative;
      }
    header nav ul
      {
        display:block;
        text-align: center;
        float:center;
      }
    footer nav ul
      {
        margin-right:20%;
      }
  }
@media (min-width: 992px)
  {
    .container
    {
      width: 970px;
    }
    .one-third
    {
      width:29.33333%;
      float:left;
    }
    .three-third
    {
      width:29.33333%;
      float:right;
      padding-right:15em;
    }
    .rt-half
    {
      float: right;
      position:relative;
      display:inline-block;
      min-height: 1px;
      margin:0 2% 20px;
      padding-left:20%;
    }
    .two-third
    {
      float:left;
      display:inline-block;
      position:relative;
      min-height: 1px;
      margin:0 2% -36px;
    }
    .one-half
    {
      float:left;
      display:inline-block;
      position:relative;
      min-height: 1px;
      margin:0 2% 20px;
    }
    header nav ul
    {
      display:inline;
      text-align: right;
      float:right;
      margin:0;
    }
  }
@media (min-width: 1200px)
  {
    .container
    {
      width: 1170px;
    }
  }
@media (min-width: 1400px)
  {
    .container
    {
      width:1300px
    }
    header .hero
    {
       width: 500px;
    }
  }
