.hide
  {
    display: none;
  }
body
  {
    background: #FFFFFF url("../Assets/BG.png");
    -webkit-font-smoothing: antialiased;
  }
body.about-img
  {
    background: url("../Assets/BG_about.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.work-img
  {
    background: url("../Assets/BG_work.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.contact-img
  {
    background: url("../Assets/BG_contact.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body a
  {
    color: #333333
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
h1, h2
  {
    font-family: "Lobster", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:36px;
  }
h2
  {
    font-size:24px;
    font-weight: normal;
    margin-bottom: 5px;
  }
h3
  {
    font-size:24px;
    font-weight: 600;
  }
h4
  {
    font-size:18px;
    line-height:20px;
    font-weight:300;
  }
p
  {
    font-size:12px;
    line-height:20px;
    font-weight:300;
  }


/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#333333;
    text-decoration: none;
  }
.header
  {
    width:100%;
    height:60px;
    line-height:60px;
    padding:0 0 5% 0;
    margin: auto;
    display:flex;
    justify-content: space-between;
  }


/* MENU */
.mainMenu
  {
    padding-top: 2em;
    padding-right: 2em;
  }
.hamburger
  {
    font-style:
    float:left;
    line-height: 20px;
    padding:1em;
    margin-top: -1em;
    margin-left: -2em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    z-index:1000;
    position:absolute;
  }
.subMenu
  {
    display:none;
  }


/* Hero */
.hero
  {
	  content: url("../Assets/BG_img.png");
  	z-index: 1;
    width:100%;
  }
#headers
  {
    list-style-type: none;
    display:none;
  }
#greet
  {
  	z-index: 100;
    position:absolute;
    top:60px;
    left:100px;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
  }
#name
  {
    text-align:center;
  	z-index: 100;
    position:absolute;
    top:100px;
    left:30px;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
  }
#name br
  {
    display:none;
  }
#blurb
  {
    text-align:right;
    z-index: 100;
    padding-right:10px;
    position:absolute;
    border-radius: 10px;
    top:260px;
    left:10px;
    background-color: rgba(255,255,255,0.6);
  }
#about-header
  {
    z-index: 100;
    position:absolute;
    top:360px;
    left:140px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
#work-header
  {
    z-index: 100;
    position:absolute;
    top:290px;
    left:320px;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
  }
#contact-header
  {
    text-align:center;
    z-index: 100;
    position:absolute;
    top:420px;
    left:300px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }

/* About */
.about-label
  {
    z-index:100;
    padding-bottom:2em;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
.one-third
  {
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    list-style:none;
    background-color: rgba(255,255,255,0.6);
  }

.passionprojects
  {
    padding-right:15%;
    list-style-type:none;
    text-align:center;
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
  }

/* Work */
.work-label
  {
    padding-top:10%;
    margin-left:15%;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
  }
.three-third
  {
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    list-style:none;
    background-color: rgba(255,255,255,0.6);
  }
.workprojects
  {
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    padding-right:23%;
  }
.workprojects img
  {
    max-width:100%;
    padding: 5%;
  }

/* Contact */
.contact-label
  {
    padding-right:35%;
    padding-bottom:2%;
    text-align:center;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
  }
input[type=text], select, textarea
  {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
input[type=submit]
  {
    background-color: #CBDBF2;
    color: #333333;
    padding: 1% 10%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 37%;
  }
input[type=submit]:hover
  {
    background-color: #333333;
    color: #FFFFFF;
  }
#cntct
  {
    padding-right:10%;
    padding-left:10%;
    padding-bottom:10%;
  }
#cntct textarea
  {
    min-height:10em;
  }
#submit-errors, #submit-success
  {
    display:none;
  }
button, input, select, textarea
  {
    font-family : inherit;
    font-size   : 100%;
  }

/* FOOTER */
footer
  {
    margin:auto;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #dddddd;
	  border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
    background-color: rgba(255,255,255,0.6);
  }
.footer-left
  {
    padding-left:.5em;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }


/* -------------       Media Queries       ------------- */



/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h2
  {
    font-size:32px;
  }
  p
  {
    font-size:16px;
  }
  .hero
  {
    width:768px;
  }
  #headers
  {
    display:block;
  }
  #greet
  {
    position:absolute;
    top:230px;
    left:75px;
  }
  #name
  {
    position:absolute;
    top:150px;
    left:310px;
  }
  #name br
  {
    display:inline;
  }
  #blurb
  {
    position:absolute;
    top:375px;
    left:130px;
  }
  #about-header
  {
    position:absolute;
    top:665px;
    left:290px;
  }
  #work-header
  {
    position:absolute;
    top:525px;
    left:570px;
  }
  #contact-header
  {
    position:absolute;
    top:767px;
    left:570px;
  }
/* About Page */
  .about-label
  {
    padding-bottom: 5em;
  }
/* Work Page */
  .work-label
  {
    padding-left:10em;
    padding-top:1em;

  }
  .workprojects
  {
    padding-left:23%;
  }
/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 22% 2em 22%;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .hero
  {
    width:992px;
  }
  #greet
  {
    position:absolute;
    top:310px;
    left:110px;
  }
  #name
  {
    position:absolute;
    top:200px;
    left:460px;
  }
  #blurb
  {
    position:absolute;
    top:475px;
    left:250px;
  }
  #about-header
  {
    position:absolute;
    top:855px;
    left:400px;
  }
  #work-header
  {
    position:absolute;
    top:670px;
    left:730px;
  }
  #contact-header
  {
    position:absolute;
    top:985px;
    left:740px;
  }
/* About Page */
  #about
  {
    padding-bottom: 5em;
  }
  .container:before,
  .container:after
  {
    content: " ";
    display: table;
  }
  .container:after
  {
    clear: both;
  }
  .about-label
  {
    margin-top:-2em;
    margin-left:-2em;
  }
  .one-third
  {
    width:33%;
    float:left;
    padding-left:10%;
  }
  .two-third
  {
    float:left;
    display:inline-block;
    position:relative;
    min-height: 1px;
    margin:0 2% -6em;
    padding-top:25%;
  }
  #pp2
  {
    padding-top:15%;
    padding-left: 40%;
    padding-bottom:4%;
  }
/* Work Page */
  .three-third
  {
    width:33%;
    float:right;
    padding-right:10%;
  }
  .work-label
  {
    padding-left:0em;
    margin-left:-8em;
    margin-top:-2em;
  }
  .workprojects
  {
    padding:0;
  }
  .four-third
  {
    padding-right:10%;
    padding-top:12%;
  }
/* Contact Page */
  input[type=text], select, textarea
  {
    width:75%;
  }
  #cntct
  {
    padding-left:25%;
  }
  input[type=submit]
  {
    margin-left:50%;
  }
/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 20% 2em 20%;
  }
  .footer-mid
  {
    display:flex;
  }
  .back
  {
    padding-left:2em;
    padding-right:2em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h4
  {
    font-size:24px;
  }
  p
  {
    font-size:18px;
  }
  .hero
  {
    width:1200px;
  }
  #greet
  {
    position:absolute;
    top:340px;
    left:110px;
  }
  #name
  {
    position:absolute;
    top:200px;
    left:510px;
  }
  #blurb
  {
    position:absolute;
    top:555px;
    left:270px;
  }
  #about-header
  {
    position:absolute;
    top:1010px;
    left:460px;
  }
  #work-header
  {
    position:absolute;
    top:800px;
    left:900px;
  }
  #contact-header
  {
    position:absolute;
    top:1170px;
    left:890px;
  }
  .contact-label
  {
    margin-left: 2em;
  }
}
