.hide
  {
    display: none;
  }
body
  {
    background: #FFFFFF url("../Assets/BG.png");
    -webkit-font-smoothing: antialiased;
  }
body.about-img
  {
    background: url("../Assets/BG_about.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.work-img
  {
    background: url("../Assets/BG_work.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.contact-img
  {
    background: url("../Assets/BG_contact.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body a
  {
    color: #333333
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
h1, h2
  {
    font-family: "Lobster", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:36px;
  }
h2
  {
    font-size:24px;
    font-weight: normal;
    margin-bottom: 5px;
  }
h3
  {
    font-size:24px;
    font-weight: 600;
  }
h4
  {
    font-size:18px;
    line-height:20px;
    font-weight:300;
  }
p
  {
    font-size:12px;
    line-height:20px;
    font-weight:300;
    background-color: rgba(255,255,255,0.6);
  }


/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#333333;
    text-decoration: none;
  }
.header
  {
    width:100%;
    height:60px;
    line-height:60px;
    padding:0 0 5% 0;
    margin: auto;
    display:flex;
    justify-content: space-between;
  }


/* MENU */
.mainMenu
  {
    padding-top: 2em;
    padding-right: 2em;
  }
.hamburger
  {
    float:left;
    line-height: 20px;
    padding:1em;
    margin-top: -1em;
    margin-left: -2em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    z-index:1000;
    position:absolute;
  }
.subMenu
  {
    display:none;
  }

/* Main */
.container
  {
    list-style-type:none;
  }
.title img
  {
    width:100%;
  }
.research img
  {
    width:100%;
  }
.market-analysis img
  {
    width:200px;
    padding-left:15%;
    padding-top:1em;
  }
main
  {
    padding-right:5%;
    padding-left:5%;
    padding-top:1em;
  }
.center-text img
  {
    padding-top:1em;
    width:100%;
  }
.approach-left, .approach-right
  {
    display:none;
  }
.wireframes img
  {
    padding-top:1em;
    width:100%;
  }



/* FOOTER */
footer
  {
    margin:auto;
    padding-top:2em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #dddddd;
	  border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
    background-color: rgba(255,255,255,0.6);
  }
.footer-left
  {
    padding-left:.5em;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }


/* -------------       Media Queries       ------------- */



/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:48px;
  }
  h2
  {
    font-size:36px;
  }
  h3
  {
    font-size:24px;
  }
  h4
  {
    font-size:22px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  .approach-left, .approach-right
  {
    display:block;
  }
  .title, .market-analysis, .research, .approach, .wireframes
  {
    display:flex;
    justify-content: center;
  }
  .title-right
  {
    padding-right:1em;
  }
  .title-left
  {
    padding-top:2.5em;
    padding-right:7em;
  }
  .market-left, .market-right
  {
    padding:1em;
  }
  .market-right
  {
    padding-top:1.4em;
  }
  .research-left
  {
    padding-right:2em;
  }
  .research-right img
  {
    padding-top:2%;
    width:400px;
  }
  .approach
  {
    padding-top:1em;
  }
  .wireframes
  {
    padding:1em;
  }
  .left-third
  {
    padding-right:1em;
  }
  .right-third
  {
    padding-left:1em;
  }
  .center-text img
  {
    margin-top:1em;
    padding:2%;
    max-width:768px;
  }


/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 22% 2em 22%;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .container:before,
  .container:after
  {
    content: " ";
    display: table;
  }
  main
  {
    padding-left:10%;
    padding-right:10%;
  }

/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 20% 2em 20%;
  }
  .footer-mid
  {
    display:flex;
  }
  .back
  {
    padding-left:2em;
    padding-right:2em;
  }
  .center-text img
  {
    margin-left:5%;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:28px;
  }
  h4
  {
    font-size:22px;
  }
  p
  {
    font-size:18px;
  }
  main
  {
    padding-left:15%;
    padding-right:15%;
  }
  .center-text img
  {
    margin-left:7%;
  }

}
