.hide
  {
    display: none;
  }
body
  {
    background: #FFFFFF url("../Assets/BG.png");
    -webkit-font-smoothing: antialiased;
  }
body.about-img
  {
    background: url("../Assets/BG_about.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.work-img
  {
    background: url("../Assets/BG_work.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.contact-img
  {
    background: url("../Assets/BG_contact.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body a
  {
    color: #333333
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
h1, h2
  {
    font-family: "Lobster", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:36px;
  }
h2
  {
    font-size:24px;
    font-weight: normal;
    margin-bottom: 5px;
  }
h3
  {
    font-size:24px;
    font-weight: 600;
  }
h4
  {
    font-size:18px;
    line-height:20px;
    font-weight:300;
  }
p
  {
    font-size:12px;
    line-height:20px;
    font-weight:300;
    background-color: rgba(255,255,255,0.6);
  }


/* HEADER */
header
  {
    padding-bottom:1em;
  }
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#333333;
    text-decoration: none;
  }
.header
  {
    width:100%;
    height:60px;
    line-height:60px;
    padding:0 0 5% 0;
    margin: auto;
    display:flex;
    justify-content: space-between;
  }


/* MENU */
.mainMenu
  {
    padding-top: 2em;
    padding-right: 2em;
  }
.hamburger
  {
    float:left;
    line-height: 20px;
    padding:1em;
    margin-top: -1em;
    margin-left: -2em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    z-index:1000;
    position:absolute;
  }
.subMenu
  {
    display:none;
  }

/* Main */
.container
  {
    list-style-type:none;
  }
main
  {
    padding-right:2%;
    padding-left:2%;
    margin-right:7%;
  }
.title
  {
    height: 2;
    position: relative
  }
.title h1
  {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-right:1em;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
.body_left1
  {
    padding-top:1em;
  }
.content img, .row1 img, .row2 img, .row3 img, .center img
  {
    width:100%;
    max-width:500px;
  }



/* FOOTER */
footer
  {
    margin:auto;
    padding-top:2em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #dddddd;
	  border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
    background-color: rgba(255,255,255,0.6);
  }
.footer-left
  {
    padding-left:.5em;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }


/* -------------       Media Queries       ------------- */


/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:32px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  main
  {
    padding-left:10%;
    padding-right:10%;
  }
  .content
  {
    padding-top:2em;
  }
  .row1, .row2, .row3
  {
    display:flex;
    justify-content:center;
  }
  .body_right img
  {
    width:100%;
    max-width:500px;
    padding-bottom:1em;
  }
  .row1 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row1 .right-third img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .row2 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row2 .right-third img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .row3 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row3 .right-third img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .center img
  {
    margin-top:0em;
    max-width:800px;
    padding-bottom:1em;
  }
  .conclusion
  {
    padding-left:20%;
  }

/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 22% 2em 22%;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .container:before,
  .container:after
  {
    content: " ";
    display: table;
  }
  .container:after
  {
    clear: both;
  }
  .content
  {
    display:flex;
    justify-content:center;
  }
  main
  {
    padding-left:15%;
    padding-right:15%;
  }
  .body_right img
  {
    width: 350px;
    padding-top:2.5em;
  }
  .body_left1
  {
    padding-right:1em;
  }

/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 20% 2em 20%;
  }
  .footer-mid
  {
    display:flex;
  }
  .back
  {
    padding-left:2em;
    padding-right:2em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h4
  {
    font-size:24px;
  }
  p
  {
    font-size:18px;
  }
  .body_left1
  {
    padding-top:5em;
    padding-right:2em;
  }
  .conclusion
  {
    padding-left:25%;
  }
}
