.hide
  {
    display: none;
  }
body
  {
    background: #869BAE;
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #FFFFFF;
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2;
  }
html, body
  {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#FFFFFF;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
  }
h2
  {
    font-size:36px;
    font-weight:500;
  }
h3
  {
    font-size:28px;
    font-weight:300;
  }
h4
  {
    font-size:22px;
    font-weight:300;
  }
h5
  {
    font-size:12px;
    color:#FFFFFF;
  }
p
  {
    font-size:18px;
    font-weight:300;
    padding:1em;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #CBDBF2;
    margin: 1em 0;
    padding: 0;
  }
.btn
  {
    border-radius: 4px;
    color:#333333;
    font-weight: 400;
    text-decoration: none;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    background: #CBDBF2;
    border: 2px solid #CBDBF2;
    box-shadow: 0px 2px 0px 0px #CBDBF2;
    z-index:100;
    position:relative;
    }
header, .hero, .workprojects, .workheading, .recommendation, .closingstatement, .heading, .aboutme, .projects, .designjourney, #contact
    {
      list-style-type:none;
    }

/* Arrow */
@-moz-keyframes bounce
    {
      0%, 20%, 50%, 80%, 100%
      {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40%
      {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60%
      {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
@-webkit-keyframes bounce
    {
      0%, 20%, 50%, 80%, 100%
      {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40%
      {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60%
      {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
@keyframes bounce
    {
      0%, 20%, 50%, 80%, 100%
      {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40%
      {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60%
      {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
.below
    {
      height: 0vh;
    }
i
    {
      display: block;
      color: #fff;
    }
.arrow
    {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -20px;
      width: 40px;
      height: 60px;
    }
.bounce
    {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

/* Lines */
#headerline, #LogoLine, #top-halfline, #paycrave-button-line, #blocbox-button-line, #knode-button-line, #ZachLine, #ContactLine, #headshotline, #designline1, #designline2, #tagline-line, #submitline
  {
    position:relative;
    z-index:1;
  }
#headerline
  {
    width:300px;
  }
#LogoLine
  {
    width:700px;
    margin-left:12em;
    top:-6.5em;
  }
#top-halfline
  {
    width:75%;
  }
#paycrave-button-line
  {
    width:100%;
    margin-left:6em;
    top:-2.5em;
  }
#blocbox-button-line
  {
    width:75%;
    margin-right:5em;
    top:-2.5em;
  }
#knode-button-line
  {
    width:100%;
    margin-left:6em;
    top:-2.5em;
  }
#ZachLine
  {
    width:50%;
    margin-left:auto;
    margin-right:auto;
  }
#ContactLine
  {
    width:75%;
    top:-2.5em;
  }
#headshotline
  {
    width:93%;
    top:-2.5em;
    margin-bottom:-3em;
  }
#designline1
  {
    width:10%;
    top:1.7em;
  }
#designline2
  {
    width:10%;
    top:1.7em;
  }
#tagline-line
  {

  }
#submitline
  {
    width: 100%;
    top:-1.5em;
    margin-left:5em;
  }

/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#CBDBF2;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }

/* Hero */
.hero-left h1
  {
    padding-left:10px;
  }
.hero-left h3
  {
    padding-left:10px;
  }
#Logo img
  {
    padding-left:1em;
    max-width:75%;
  }

/* Work */
#workheader
  {
    margin-left:auto;
    margin-right:auto;
    padding-left:.5em;
  }
.workprojects img
  {
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2em;
  }
.workprojects hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CBDBF2;
    margin: 2em 0 0 0;
    padding: 0;
  }
.paycrave, .blocbox, .knode
  {
    text-align:center;
  }
.paycrave p, .blocbox p, .knode p
  {
    padding-bottom:1em;
  }

/* Recommendation */
.recommendation
  {
    text-align:center;
  }

/* Closing */
.closingstatement
  {
    text-align:center;
  }

/* About */
.heading
  {
    padding-top:.5em;
  }
.about-heading
  {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:-1.25em;
    margin-bottom:-1.2em;
    padding-left:10px;
    padding-right:10px;
    color: #CBDBF2;
  }
.about-heading h3
  {
    font-weight:800;
    letter-spacing: 3px;
  }
.about-left img
  {
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:2em;
  }
.about-right
  {
    padding:1em;
  }
.projects
  {
    text-align:center;
  }
.passionprojects img
  {
    padding:1em;
  }
.designheading
  {
    text-align:center;
    display:flex;
    justify-content:space-between;
  }
.designblurb
  {
    text-align:center;
    padding:1em;
  }
.designblurb a
  {
    text-decoration:none;
  }
 h3#tagline
  {
    color:#CBDBF2;
    font-weight:600;
  }

/* Contact */
.heading
  {
    margin-top:-1.3em;
  }
.contact-heading
  {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:-1.25em;
    margin-bottom:-1.2em;
    padding-left:10px;
    padding-right:10px;
    color: #CBDBF2;
  }
.contact-heading h3
  {
    font-weight:800;
    letter-spacing: 3px;
  }
input[type=text], select, textarea
  {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
input[type=submit]
  {
    background-color: #CBDBF2;
    color: #333333;
    padding: 1em 4em 1em 4em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float:right;
  }
input[type=submit]:hover
  {
    background-color: #333333;
    color: #FFFFFF;
    position:relative;

  }
#cntct
  {
    padding-right:10%;
    padding-left:10%;
    padding-bottom:10%;
  }
#cntct textarea
  {
    min-height:10em;
  }
#submit-errors, #submit-success
  {
    display:none;
  }
button, input, select, textarea
  {
    font-family : inherit;
    font-size   : 100%;
  }


/* FOOTER */
footer
  {
    margin:auto;
    padding-top:1em;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #CBDBF2;
	  border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }

/* Hidden for Mobile */
.hero br
  {
    display:none;
  }
#headingpart2
  {
    display:none;
  }
.footer-left
  {
    display:none;
  }
.footer-mid
  {
    display:none;
  }
.blocbox-right2
  {
    display:none;
  }


/* -------------       Media Queries       ------------- */

/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:36px;
  }
  h4
  {
    font-size:28px;
  }
  p
  {
    font-size:22px;
  }

/* Hide/Unhide */
  #headingpart2
  {
    display:flex;
  }
  .footer-left, .footer-mid
  {
    display:flex;
  }


/* Lines */
  #headerline
  {
    width:300px;
    top:5px;
  }
  #LogoLine
  {
    display:block;
    width:100%;
    top:-16.2em;
    margin-left:38em;
  }
  #top-halfline
  {
    width:50%;
  }
  #paycrave-button-line
  {
    width:100%;
    margin-left:12em;
    top:-2.5em;
  }
  #blocbox-button-line
  {
    width:75%;
    margin-right:5em;
    top:-2.5em;
  }
  #knode-button-line
  {
    width:100%;
    margin-left:12em;
    top:-2.5em;
  }
  #headshotline
  {
    width:97%;
    top:-1.5em;
  }
  #designline1
  {
    width:20%;
    top:2.5em;
  }
  #designline2
  {
    width:20%;
    top:2.5em;
  }
  #tagline-line
  {
    width:85%;
    top:-2em;
  }
  #submitline
  {
    margin-left:20em;
  }

/* Hero */
  #Logo
  {
    padding-left:21em;
    margin-top:-15em;
    margin-bottom:8em;
  }
  #Logo img
  {
    width:250px;
  }
  .hero
  {
    display:flex;
    justify-content:space-between;
  }

/* Work */
  #workheader h2
  {
    font-size:28px;
    text-align:center;
  }
  .paycrave-right, .knode-right, .blocbox-left
  {
    padding-top:2em;
  }

/* About */
  .aboutme
  {
    display:flex;
    justify-content:space-between;
  }
  #headshot img
  {
    width:1600px;
    padding-top:13em;
    margin-bottom:-1em;
  }
  .designblurb
  {
    padding:0;
    margin-top:-2em;
  }
  #tagline
  {
    margin-top:-2em;
  }

/* Footer */
  .footer-nav-block
  {
    margin: 0 2em 2em 2em;
  }
  .footer-right
  {
    margin-left:0;
    margin-right:0;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:8em;
  }
  .footer-left
  {
    margin-top:1em;
  }
}


/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  h3
  {
    font-size:28px;
  }
  #workheader h2
  {
    font-size:36px;
  }

/* Hide/Unhide */
  .hero-left br
  {
   display:block;
  }
  .blocbox-right1
  {
    display:none;
  }
  .blocbox-right2
  {
    display:block;
  }

/* Lines */
  #headerline
  {
    width:300px;
    top:5px;
  }
  #LogoLine
  {
    margin-left:45em;
    top:-19.5em;
  }
  #paycrave-button-line
  {
    width:100%;
    margin-left:8em;
    top:-2.5em;
  }
  #blocbox-button-line
  {
    width:100%;
    margin-left:-6em;
    top:-2.5em;
  }
  #knode-button-line
  {
    width:100%;
    margin-left:6em;
    top:-2.5em;
  }
  #ZachLine
  {
    width:20%;
    margin-left:0;
    margin-bottom:-3.7em;
  }
  #ContactLine
  {
    width:65%;
  }
  #designline1
  {
    width:30%;
    top:2em;
  }
  #designline2
  {
    width:30%;
    top:2em;
  }
  #tagline-line
  {
    width:100%;
    top:-1.5em;
    margin-left:-33em;
  }
  #submitline
  {
    margin-left:20em;
  }

/* Hero */
  .hero-left
  {
    padding-left:3em;
  }
  .hero-right
  {
    margin-right:-5em;
    margin-left:5em;
    margin-bottom:-6em;
  }
  #Logo img
  {
    width:100%;
  }


/* Work */
  .paycrave, .blocbox, .knode
  {
    display:flex;
    justify-content:center;
    padding:4em 2em 4em 2em;
  }
  #paycravescreens img, #blocboxhome img, #knode2 img
  {
    width:2500px;
    padding:1em;
  }
  .blocbox-right2
  {
    padding-top:4em;
  }
  .paycrave-right, .blocbox-left, .knode-right
  {
    margin-top:-2em;
  }
  .paycrave p, .blocbox p, .knode p
  {
    text-align:left;
    margin-top:-2em;
    padding-left:2em;
  }
  .recommendation h4
  {
    padding-bottom:1em;
  }
  .closingstatement
  {
    padding-top:1em;
    padding-bottom:1em;
  }

/* About */
  .about-heading
  {
    padding-right:25em;
  }
  #headingpart1
  {
    margin-top:1.5em;
  }
  .about-left
  {
    margin-top:-10em;
  }
  .designblurb
  {
    padding-left:4em;
    text-align:left;
  }
  #tagline
  {
    padding-left:.5em;
  }

/* Contact Page */
  .contact-heading
  {
    padding-right:20em;
  }
  #cntct textarea
  {
    min-height:20em;
  }

/* Footer */
  footer
  {
    padding:0 6em 0 6em;
  }

}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h4
  {
    font-size:24px;
  }
  p
  {
    font-size:18px;
    line-height:30px;
  }

/* Hero */
  .hero-right
  {
    margin-top:-22em;
    margin-right:-15em;
    margin-left:15em;
  }
  #LogoLine
  {
    margin-left:44em;
    top:-19em;
  }
  #Logo img
  {
    width: 500px;
  }


/* Work */
  .paycrave, .blocbox, .knode
  {
    padding:4em 6em 4em 6em;
  }
  .blocbox-right2
  {
    padding-top:0em;
  }
  .paycrave-right, .knode-right
  {
    padding-top:3em;
    padding-left:8em;
  }
  .blocbox-left
  {
    padding-top:3em;
  }
  .recommendation h4
  {
    padding-bottom:2em;
  }
  .closingstatement h3
  {
    padding-top:2em;
  }

/* About */
  .about-heading, .contact-heading
  {
    padding-right: 40em;
  }
  #headingpart1
  {
    margin-top:1.2em;
  }
  #headshot img
  {
    margin-top:-4em;
  }
  #headshotline
  {
    width:92%;
  }
  .about-right
  {
    padding-top:1em;
    padding-bottom:3em;
  }
  .passionprojects img
  {
    padding-right:4em;
    padding-left:4em;
  }
  .designblurb
  {
    padding-left:8em;
  }
  #tagline-line
  {
    margin-left:-44em;
  }

/* Footer */
  footer
  {
    padding-top:2em;
  }

}
