body
  {
    background: #869BAE;
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #FFFFFF;
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2;
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#FFFFFF;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
  }
h2
  {
    font-size:36px;
    font-weight:500;
  }
h3
  {
    font-size:28px;
    font-weight:300;
  }
h4
  {
    font-size:22px;
    font-weight:300;
  }
h5
  {
    font-size:12px;
    color:#FFFFFF;
  }
p
  {
    font-size:18px;
    font-weight:300;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #CBDBF2;
    margin: 1em 0;
    padding: 0;
  }
#headerline
  {
    width:300px;
  }

/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#CBDBF2;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }

/* Main */
main
  {
    list-style-type:none;
    padding-left:5%;
    padding-right:5%;
  }
.title
  {
    text-align:center;
  }
.body img
  {
    width:100%;
    max-width: 500px;
    padding-bottom:1em;
    position:relative;
    z-index:1000;
  }
.content img
  {
    width:100%;
    max-width:500px;
    padding-bottom:1em;
    position:relative;
    z-index:1000;
  }
.center img
  {
    width:100%;
    max-width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:1em;
    position:relative;
    z-index:1000;
  }
.conclusion p
  {
    text-align:center;
  }
.conclusion
  {
    text-align:center;
    display:flex;
    justify-content:space-between;
  }
/* Lines */
#topline
  {
    position:relative;
    width:100px;
    margin-left:auto;
    margin-right:auto;
    z-index:1;
  }
#midline
  {
    position:relative;
    z-index:1;
    display:none;
  }
#conclusionline1, #conclusionline2
  {
    position:relative;
    width:5%;
    z-index:1;
    display:none;
  }

/* FOOTER */
footer
  {
    margin:auto;
    padding-top:1em;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #CBDBF2;
    border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
    display:none;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }


/* -------------       Media Queries       ------------- */


/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:32px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  main
  {
    padding-left:10%;
    padding-right:10%;
  }
  .row1, .row2
  {
    display:flex;
    justify-content:center;
  }
  .body img
  {
    padding-top:2em;
    max-width: 800px;
  }
  .content img
  {
    width:100%;
    max-width:500px;
  }
  .row1 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row1 .right-third1 img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .row2 .left-third img
  {
    margin-left:-1em;
  }
  .right-third2 img
    {
    margin-right:-1em;
    padding-bottom:2.5em;
  }
  .center img
  {
    margin-top:-1em;
    max-width:800px;
  }

  /* Lines */
  #topline
  {
    width:1000px;
    margin-left:-22em;
    margin-right:0;
    top:-33em;
  }
  #midline
  {
    width:2000px;
    margin-left:-3em;
    top:-18.5em;
    display:block;
  }
  #conclusionline1
  {
    width:30%;
    display:block;
    top:1em;
    margin-left:-10em;
  }
  #conclusionline2
  {
    width:30%;
    display:block;
    top:1em;
    margin-right:-10em;
  }

/* Footer */
  .footer-left, .footer-mid
  {
    display:flex;
  }
  .footer-nav-block
  {
    margin: 0 2em 2em 2em;
  }
  .footer-right
  {
    margin-left:0;
    margin-right:0;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:8em;
  }
  .footer-left
  {
    margin-top:1em;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .right-third2 img
  {
    padding-bottom:3.5em;
  }
  /* Lines */
  #topline
  {
    width:1000px;
    margin-left:-8em;
    margin-right:0;
    top:-33em;
  }
  #midline
  {
    width:2000px;
    margin-left:-5em;
    top:-24.5em;
    display:block;
  }

/* Footer */
  footer
  {
    padding:0 6em 0 6em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:28px;
  }
  h4
  {
    font-size:22px;
  }
  p
  {
    font-size:18px;
  }
  .body img
  {
    width:500px;
  }
  .body_left
  {
    padding-left:0;
  }
  .body_right
  {
    padding-left:2em;
  }
  .body
  {
    display:flex;
    justify-content: space-between;
  }
  .right-third2 img
  {
    padding-bottom:4.5em;
  }
  #topline
  {
    top:-15em;
    margin-left:-20em;
    width:800px;
  }
  #midline
  {
    top:-29em;
    margin-left:10em;
  }
}
