body
  {
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #333333;
  }
body a:hover
  {
    text-decoration: none;
    color: #10A39F;
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
    text-align:center;
  }
h2
  {
    font-size:36px;
    font-weight:500;
    text-align:center;
  }
h3
  {
    font-size:28px;
    font-weight:300;
    text-align:center;
  }
h4
  {
    font-size:22px;
    font-weight:300;
    text-align:center;
  }
h5
  {
    font-size:12px;
    color:#333333;
  }
h6
  {
    font-size:18px;
    font-weight:300;
  }
p
  {
    font-size:18px;
    font-weight:300;
    line-height:30px;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #F15A57;
    margin: 1em 0;
    padding: 0;
  }
.link
  {
    margin-top:-1em;
    margin-bottom:-1em;
    border-bottom:1em solid #ededed;
  }
.link a
  {
    text-decoration:none;
  }

#headerline
  {
    width:300px;
  }
.designheading
  {
    display:flex;
    justify-content:space-between;
  }
#problemline1
  {
    position:relative;
    width:10%;
    top:2em;
    border-color:#10A39F;
  }
#problemline2
  {
    position:relative;
    width:10%;
    top:2em;
    border-color:#10A39F;
  }
#approachline1
  {
    position:relative;
    width:10%;
    top:2em;
  }
#approachline2
  {
    position:relative;
    width:10%;
    top:2em;
  }
#designline1
  {
    position:relative;
    width:10%;
    top:2em;
    border-color: #FFBB3B;
  }
#designline2
  {
    position:relative;
    width:10%;
    top:2em;
    border-color: #FFBB3B;
  }
#conclusionline1
  {
    position:relative;
    width:10%;
    top:2em;
    border-color:#10A39F;
  }
#conclusionline2
  {
    position:relative;
    width:10%;
    top:2em;
    border-color:#10A39F;
  }


/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#333333;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }


/* Main */
.research img
  {
    width:100%;
  }
.market-analysis img
  {
    width:200px;
    padding-left:15%;
    padding-top:1em;
  }
main
  {
    padding-right:5%;
    padding-left:5%;
    padding-top:1em;
    list-style-type:none;
  }
.center-text img
  {
    padding-top:1em;
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
.approach-left, .approach-right
  {
    display:none;
  }
.wireframes img
  {
    padding-top:1em;
    width:100%;
  }


/* FOOTER */
footer
  {
    margin:auto;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
    display:none;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }
.footer-right a, .footer-mid a
  {
    text-decoration:none;
  }


/* -------------       Media Queries       ------------- */



/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  main
  {
    padding-right:10%;
    padding-left:10%;
  }
  h1
  {
    font-size:48px;
  }
  h2
  {
    font-size:36px;
  }
  h3
  {
    font-size:24px;
  }
  h4
  {
    font-size:22px;
  }
  h6
  {
    font-size:20px;
    line-height:30px;
  }
  p
  {
    font-size:20px;
  }
  .footer-left, .footer-mid
  {
    display:flex;
  }
  .approach-left, .approach-right
  {
    display:block;
  }
  .title, .market-analysis, .research, .approach, .wireframes
  {
    display:flex;
    justify-content: center;
  }
  .title-right
  {
    padding-right:1em;
  }
  .title-left
  {
    padding-top:2.5em;
    padding-right:7em;
  }
  .market-analysis img
  {
    padding-left:0;
  }
  .market-left
  {
    padding-right: 3em;
  }
  .market-right
  {
    padding-left:3em;
    margin-top:-1em;
  }
  .market-right
  {
    padding-top:1.4em;
  }
  .research-left
  {
    padding-right:2em;
  }
  .research-right img
  {
    padding-top:2%;
    width:400px;
  }
  .research-right
  {
    padding-top:20%;
  }
  .approach
  {
    padding-top:1em;
  }
  .wireframes
  {
    padding:1em;
  }
  .left-third
  {
    padding-right:1em;
  }
  .right-third
  {
    padding-left:1em;
  }
  .center-text img
  {
    margin-top:1em;
    padding:2%;
    max-width:768px;
  }
  #conclusion
  {
    padding-bottom:1em;
  }
  #problemline1
  {
    width:30%;
    top:2em;
    margin-left:-13%;
  }
  #problemline2
  {
    width:30%;
    top:2em;
    margin-right:-13%;
  }
  #approachline1
  {
    width:30%;
    top:2em;
    margin-left:-13%;
  }
  #approachline2
  {
    width:30%;
    top:2em;
    margin-right:-13%;
  }
  #designline1
  {
    width:25%;
    top:2em;
    padding-right:1em;
    margin-left:-13%;
  }
  #designline2
  {
    width:25%;
    top:2em;
    padding-left:1em;
    margin-right:-13%;
  }
  #conclusionline1
  {
    width:40%;
    top:2em;
    margin-left:-13%;
  }
  #conclusionline2
  {
    width:40%;
    top:2em;
    margin-right:-13%;
  }

/* Footer */
  .footer-left, .footer-mid
  {
    display:flex;
  }
  footer
  {
    margin-top:-1em;
  }
  .footer-right
  {
    padding-top:.5em;
    margin-left:0;
    margin-right:-10em;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:2.5em;
  }
  .footer-left
  {
    margin-top:1em;
    margin-left:0em;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  main
  {
    padding-left:15%;
    padding-right:15%;
  }
  h1
  {
    font-size:68px;
  }
  h2
  {
    font-size:42px;
  }
  h3
  {
    font-size:36px;
  }
  h4
  {
    font-size:32px;
  }
  p
  {
    font-size:24px;
  }
  #problemline1
  {
    width:40%;
    top:2.5em;
    margin-left:-22%;
  }
  #problemline2
  {
    width:40%;
    top:2.5em;
    margin-right:-22%;
  }
  #approachline1
  {
    width:45%;
    top:2.5em;
    margin-left:-22%;
  }
  #approachline2
  {
    width:45%;
    top:2.5em;
    margin-right:-22%;
  }
  #designline1
  {
    width:40%;
    top:2.5em;
    margin-left:-22%;
  }
  #designline2
  {
    width:40%;
    top:2.5em;
    margin-right:-22%;
  }
  #conclusionline1
  {
    width:45%;
    top:2.5em;
    margin-left:-22%;
  }
  #conclusionline2
  {
    width:45%;
    top:2.5em;
    margin-right:-22%;
  }
  .research-right
  {
    padding-top:10%;
  }

/* Footer */
  .footer-right
  {
    margin-right:-19em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  main
  {
    padding-left:20%;
    padding-right:20%;
  }
  p
  {
    line-height:35px;
  }
  .center-text img
  {
    max-width:1000px;
  }
  #problemline1
  {
    width:50%;
    margin-left:-35%;
  }
  #problemline2
  {
    width:50%;
    margin-right:-35%;
  }
  #approachline1
  {
    width:60%;
    margin-left:-35%;
  }
  #approachline2
  {
    width:60%;
    margin-right:-35%;
  }
  #designline1
  {
    margin-right:3em;
    margin-left:-35%;
  }
  #designline2
  {
    margin-left:3em;
    margin-right:-35%;
  }
  #conclusionline1
  {
    width:60%;
    margin-left:-35%;
  }
  #conclusionline2
  {
    width:60%;
    margin-right:-35%;
  }
}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1300px)
  and (-webkit-min-device-pixel-ratio: 2)
{
/* Main */
  main
  {
    padding-left: 25%;
    padding-right: 25%;
  }
  #problemline1
  {
    width:60%;
    margin-left:-50%;
  }
  #problemline2
  {
    width:60%;
    margin-right:-50%;
  }
  #approachline1
  {
    width:70%;
    margin-left:-50%;
  }
  #approachline2
  {
    width:70%;
    margin-right:-50%;
  }
  #designline1
  {
    margin-right:6em;
    margin-left:-50%;
  }
  #designline2
  {
    margin-left:6em;
    margin-right:-50%;
  }
  #conclusionline1
  {
    width:70%;
    margin-left:-50%;
  }
  #conclusionline2
  {
    width:70%;
    margin-right:-50%;
  }
  .footer-right
  {
    margin-right:-31em;
  }
}
