body
  {
    background: #869BAE;
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #FFFFFF;
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2;
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#FFFFFF;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
  }
h2
  {
    font-size:36px;
    font-weight:500;
  }
h3
  {
    font-size:28px;
    font-weight:300;
  }
h4
  {
    font-size:22px;
    font-weight:300;
  }
h5
  {
    font-size:12px;
    color:#FFFFFF;
  }
p
  {
    font-size:18px;
    font-weight:300;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #CBDBF2;
    margin: 1em 0;
    padding: 0;
  }
#headerline
  {
    width:300px;
  }

/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#CBDBF2;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }

/* Main */
main
  {
    list-style-type:none;
    padding-left:5%;
    padding-right:5%;
  }
.title img
  {
    max-width:250px;
    width:100%;
    display:none;
  }
.body img
  {
    width:100%;
    display:none;
  }
.body_left
  {
    padding:1em;
  }
.vid
  {
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding:1em;
  }
.vid_left, .vid_right
  {
    padding-top:1em;
  }
.vid img
  {
    position:relative;
    width:100%;
    z-index:1000;
  }
.conclusion
  {
    text-align:center;
    padding-top:1em;
  }
#TitleLine
  {
    position:relative;
    width:2000px;
    margin-left:5em;
  }
#MidLine
  {
    position:relative;
    width:400px;
    margin-left:-10em;
  }
#LeesaLine
  {
    position:relative;
    margin-left:5em;
    top:-6.5em;
    width:2000px;
    z-index:1;
  }
#PrestonLine
  {
    position:relative;
    margin-left:-10em;
    top:-6.5em;
    width:400px;
    z-index:1;
  }
#JayLine
  {
    position:relative;
    margin-left:5em;
    top:-6.5em;
    width:2000px;
    z-index:1;
  }

/* FOOTER */
footer
  {
    margin:auto;
    padding-top:1em;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #CBDBF2;
    border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
    display:none;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }


/* -------------       Media Queries       ------------- */


/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h2
  {
    font-size:32px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  main
  {
    padding-left:10%;
    padding-right:10%;
  }
  .title img
  {
    display:flex;
  }
  .title, .body
  {
    display:flex;
    justify-content:center;
  }
  .title-right
  {
    padding-top:1em;
    padding-left:2em;
  }
  .vid
  {
    padding-left:8%;
  }
  .vid img
  {
    width:500px;
  }
  #TitleLine
  {
    width:2000px;
    margin-left:20em;
  }
  #MidLine
  {
    margin-left:-5em;
  }
  #LeesaLine
  {
    top:-9.5em;
    width:2000px;
  }
  #PrestonLine
  {
    top:-9.5em;
    width:400px;
  }
  #JayLine
  {
    top:-9.5em;
    width:2000px;
  }

/* Footer */
  .footer-left, .footer-mid
  {
    display:flex;
  }
  .footer-nav-block
  {
    margin: 0 2em 2em 2em;
  }
  .footer-right
  {
    margin-left:0;
    margin-right:0;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:8em;
  }
  .footer-left
  {
    margin-top:1em;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .title
  {
    padding-top:1em;
  }
  .title img
  {
    padding-right:2em;
    padding-left:3em;
  }
  .body img
  {
    display:flex;
    padding-top:3em;
    width:400px;
  }
  .body_left
  {
    padding-right:4em;
  }
  .vid
  {
    margin-left:auto;
    margin-right:auto;
  }
  .vid-left img
  {
    width:70%;
  }
  .vid_right
  {
    padding-left:30%;
  }
  #TitleLine
  {
    margin-left:22em;
    top:-9em;
  }
  #MidLine
  {
    width:4000px;
    margin-left:-30em;
  }
  #LeesaLine
  {
    margin-left:-7em;
  }
  #PrestonLine
  {
    margin-left:-55em;
    width:1500px;
  }
  #JayLine
  {
    margin-left:-7em;
  }

/* Footer */
  footer
  {
    padding:0 6em 0 6em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:28px
  }
  h4
  {
    font-size:22px;
  }
  p
  {
    font-size:18px;
  }
  main
  {
    padding-left:15%;
    padding-right:15%;
  }
  .body_left
  {
    padding-top:3em;
  }
  #TitleLine
  {
    margin-left:26em;
    top:-9em;
  }

}
