body
  {
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #333333;
  }
body a:hover
  {
    text-decoration: none;
    color: #EFB84D;
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
  }
h2
  {
    font-size:36px;
    font-weight:500;
  }
h3
  {
    font-size:28px;
    font-weight:300;
  }
h4
  {
    font-size:22px;
    font-weight:300;
  }
h5
  {
    font-size:12px;
    color:#333333;
  }
p
  {
    font-size:18px;
    font-weight:300;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #FFA07A;
    margin: 1em 0;
    padding: 0;
  }
#headerline
  {
    width:300px;
  }

/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#CBDBF2;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }

/* Main */
main img
  {
    width:300px;
    padding-top:1em;
    padding-bottom:1em;
  }
main
  {
    padding-right:5%;
    padding-left:5%;
    padding-top:1em;
    list-style-type:none;
  }
.center-text img
  {
    width:100%;
    margin-right:auto;
    margin-left:auto;
  }
#process-right, #competitive-analysis, #final-step
  {
    background-color:#AED3D1;
    border-left: 60em solid #AED3D1;
    border-right: 60em solid #AED3D1;
    border-top: 1em solid #AED3D1;
    border-bottom: 1em solid #AED3D1;
    margin-right:-60em;
    margin-left:-60em;
  }
#mockup-left
  {
    background-color:#AED3D1;
    border-left: 60em solid #AED3D1;
    border-right: 60em solid #AED3D1;
    border-top: 4em solid #AED3D1;
    border-bottom: 4em solid #AED3D1;
    margin-right:-60em;
    margin-left:-60em;
  }


/* FOOTER */
footer
  {
    margin:auto;
    padding-top:1em;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #FFA07A;
    background-color: #FFA07A;
    border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
    display:none;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }
footer a
  {
    color: #FFFFFF;
  }


/* -------------       Media Queries       ------------- */



/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  main
  {
    padding-right:10%;
    padding-left:10%;
  }
  h1
  {
    font-size:48px;
  }
  h2
  {
    font-size:36px;
  }
  h3
  {
    font-size:24px;
  }
  h4
  {
    font-size:22px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  .intro, .process, .mockups, .discover, .account
  {
    display:flex;
    justify-content: center;
  }
  .intro-right
  {
    padding-left: 3em;
    padding-top:5em;
  }
  .intro-left, .process
  {
    padding-bottom:2em;
  }
  #blurb
  {
    padding-top:2em;
  }
  #final-step
  {
    padding-top:0;
  }
  #process-left, #mockup-left, #discover-left, #order-left
  {
    padding-right:2em;
  }
  #ft-right, #account-right
  {
    padding-left:2em;
  }
  #process-right_img
  {
    padding-top:6em;
  }
  #order-summary img
  {
    margin-bottom:2em;
  }
  .center-text
  {
    padding-top:1em;
    padding-bottom:1em;
  }
  .mockups img
  {
    margin-top:1em;
  }
  .discover h3
  {
    padding-right:2em;
  }
  .account img
  {
    padding-top:1.5em;
  }
  .center-text img
  {
    max-width:768px;
  }


/* Footer */
  .footer-left, .footer-mid
  {
    display:flex;
  }
  .footer-nav-block
  {
    margin: 0 2em 2em 2em;
  }
  .footer-right
  {
    margin-left:0;
    margin-right:0;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:8em;
  }
  .footer-left
  {
    margin-top:1em;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  main
  {
    padding-left:10%;
    padding-right:10%;
  }
  .intro-right
  {
    padding-top:9em;
  }
  #process-right_img
  {
    padding-top:1em;
  }
  #mockup-right_img
  {
    margin-top:-.7em;
  }
  #discover-left
  {
    padding-top:3em;
  }
  #account-right
  {
    padding-top:4em;
  }
  #mockup-left
    {
      border-top: 5em solid #AED3D1;
      border-bottom: 5em solid #AED3D1;
    }

/* Footer */
  footer
  {
    padding:0 6em 0 6em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:28px;
  }
  h4
  {
    font-size:22px;
  }
  p
  {
    font-size:18px;
  }
  main
  {
    padding-left:15%;
    padding-right:15%;
  }
  #account-right
  {
    padding-top:3em;
  }
  .center-text img
  {
    max-width:1000px;
  }

}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1300px)
  and (-webkit-min-device-pixel-ratio: 2)
{
  #mockup-left
  {
    border-top: 8em solid #AED3D1;
    border-bottom: 8em solid #AED3D1;
  }
  #mockup-right_img
  {
    margin-top:2em;
  }
}
