body
  {
    background: #869BAE;
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #FFFFFF;
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2;
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#FFFFFF;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
  }
h2
  {
    font-size:36px;
    font-weight:500;
  }
h3
  {
    font-size:28px;
    font-weight:300;
  }
h4
  {
    font-size:22px;
    font-weight:300;
  }
h5
  {
    font-size:12px;
    color:#FFFFFF;
  }
p
  {
    font-size:18px;
    font-weight:300;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #CBDBF2;
    margin: 1em 0;
    padding: 0;
  }
#headerline
  {
    width:300px;
  }

/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#CBDBF2;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }

/* Main */
main
  {
    list-style-type:none;
    padding-left:5%;
    padding-right:5%;
  }
.content img, .row1 img, .row2 img, .row3 img, .center img
  {
    width:100%;
    max-width:500px;
    margin-bottom:1em;
    position:relative;
    z-index:1000;
  }
  .conclusion
  {
    text-align:center;
    display:flex;
    justify-content:space-between;
  }
.center img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1em;
    position:relative;
    z-index:1000;
  }

/* Lines */
#topline1
  {
    position:relative;
    width:100px;
    margin-left:auto;
    margin-right:auto;
    z-index:1;
  }
#topline2
  {
    position:relative;
    z-index:1;
    display:none;
  }
#botline
  {
    position:relative;
    width:2000px;
    margin-left:-10em;
    z-index:1;
  }
#conclusionline1, #conclusionline2
  {
    position:relative;
    width:5%;
    z-index:1;
    display:none;
  }

/* FOOTER */
footer
  {
    margin:auto;
    padding-top:1em;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #CBDBF2;
    border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
    display:none;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }


/* -------------       Media Queries       ------------- */


/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:32px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  main
  {
    padding-left:10%;
    padding-right:10%;
  }
  .row1, .row2, .row3
  {
    display:flex;
    justify-content:center;
  }
  .body_right img
  {
    width:100%;
    max-width:500px;
    padding-bottom:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .row1 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row1 .right-third img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .row2 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row2 .right-third img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .row3 .left-third img
  {
    margin-left:-1em;
    margin-bottom:1em;
  }
  .row3 .right-third img
  {
    margin-right:-1em;
    margin-bottom:1em;
  }
  .center img
  {
    margin-top:0em;
    max-width:800px;
    padding-bottom:1em;
  }

  /* Lines */
  #topline1
    {
      width:1000px;
      margin-left:-25em;
      margin-right:0;
      top:23em;
    }
  #botline
    {
      width:2000px;
      margin-left:-3em;
      top:-14em;
    }
  #conclusionline1
    {
      width:30%;
      display:block;
      top:1em;
      margin-left:-10em;
    }
  #conclusionline2
    {
      width:30%;
      display:block;
      top:1em;
      margin-right:-10em;
    }

/* Footer */
  .footer-left, .footer-mid
  {
    display:flex;
  }
  .footer-nav-block
  {
    margin: 0 2em 2em 2em;
  }
  .footer-right
  {
    margin-left:0;
    margin-right:0;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:8em;
  }
  .footer-left
  {
    margin-top:1em;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .content
  {
    display:flex;
    justify-content:center;
  }
  main
  {
    padding-left:15%;
    padding-right:15%;
  }
  .body_right img
  {
    width: 350px;
  }
  .body_left1
  {
    padding-right:2em;
  }
  /* Lines */
  #topline1
    {
      display:none;
    }
  #topline2
    {
      display:block;
      width:1000px;
      margin-left:-42em;
      top:-5em;
    }
  #conclusionline1
    {
      width:40%;
    }
  #conclusionline2
    {
      width:40%;
    }

/* Footer */
  footer
  {
    padding:0 6em 0 6em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:28px;
  }
  h4
  {
    font-size:22px;
  }
  p
  {
  font-size:18px;
  }
  .content
  {
    margin-top:-7em;
  }
  .body_left1
  {
    padding-top:5em;
    padding-right:5em;
  }
  #topline2
  {
    margin-left:-33em;
    top:-4em;
  }

}
