.hide
  {
    display: none;
  }
body
  {
    background: #869BAE;
    -webkit-font-smoothing: antialiased;
  }
body a
  {
    color: #FFFFFF;
  }
body a:hover
  {
    text-decoration: none;
    color: #FFFFFF;
  }
html, body
  {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#FFFFFF;
  }
main
  {
    margin-left:auto;
    margin-right:auto;
  }
h1, h2
  {
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:48px;
    font-weight:500;
  }
h2
  {
    font-size:36px;
    font-weight:500;
  }
h3
  {
    font-size:28px;
    font-weight:300;
  }
h4
  {
    font-size:22px;
    font-weight:300;
  }
h5
  {
    font-size:12px;
    color:#FFFFFF;
  }
p
  {
    font-size:18px;
    font-weight:300;
    padding:1em;
  }
hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #CBDBF2;
    margin: 1em 0;
    padding: 0;
  }
.btn
  {
    border-radius: 4px;
    color:#333333;
    font-weight: 400;
    text-decoration: none;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    background: #CBDBF2;
    border: 2px solid #CBDBF2;
    box-shadow: 0px 2px 0px 0px #CBDBF2;
    z-index:100;
    position:relative;
  }
.contactbtn:hover
  {
    color:#869BAE;
  }
.paycravebtn:hover
  {
    background:#FFA07A;
    border: 2px solid #FFA07A;
    box-shadow: 0px 2px 0px 0px #FFA07A;
  }
.blocboxbtn:hover
  {
    background:#0071BC;
    border: 2px solid #0071BC;
    box-shadow: 0px 2px 0px 0px #0071BC;
  }
.knodebtn:hover
  {
    background:#F15A57;
    border: 2px solid #F15A57;
    box-shadow: 0px 2px 0px 0px #F15A57;
  }
header, .hero, .workprojects, .workheading, .recommendation, .closingstatement, .heading, .aboutme, .projects, #contact
  {
    list-style-type:none;
  }
.passionprojects a, .footer-right a
  {
    text-decoration:none;
  }
#headers
  {
    z-index:1000;
    position:relative;
  }
.hideme
  {
    opacity:0;
  }
.hidden
  {
    display:none;
  }

/* Arrow */
@-moz-keyframes bounce
  {
    0%, 20%, 50%, 80%, 100%
    {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40%
    {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60%
    {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
@-webkit-keyframes bounce
  {
    0%, 20%, 50%, 80%, 100%
    {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40%
    {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60%
    {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
@keyframes bounce
  {
    0%, 20%, 50%, 80%, 100%
    {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40%
    {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60%
    {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
.below
  {
    height: 0vh;
  }
i
  {
    display: block;
    color: #fff;
  }
.arrow
  {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 60px;
  }
.bounce
  {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

/* Lines */
#headerline, #LogoLine, #top-halfline, #paycrave-button-line, #blocbox-button-line, #knode-button-line, #ZachLine, #ContactLine, #headshotline, #submitline
  {
    position:relative;
    z-index:1;
  }
#headerline
  {
    width:300px;
  }
#paycrave-button-line
  {
    width:100%;
    margin-left:6em;
    top:-2.5em;
  }
#blocbox-button-line
  {
    width:75%;
    margin-right:5em;
    top:-2.5em;
  }
#knode-button-line
  {
    width:100%;
    margin-left:6em;
    top:-2.5em;
  }
#ZachLine
  {
    width:50%;
    margin-left:auto;
    margin-right:auto;
  }
#ContactLine
  {
    width:75%;
    top:-2.5em;
  }
#headshotline
  {
    width:93%;
    top:-2.5em;
    margin-bottom:-3em;
  }
#submitline
  {
    width: 100%;
    top:-1.5em;
    margin-left:5em;
  }

/* HEADER */
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#CBDBF2;
    text-decoration: none;
  }
#headers
  {
    display: flex;
    flex-direction:row;
    /*padding-left:8.5em;
    margin-top:3em;
    margin-bottom:-1.7em;*/
  }
h5
  {
    padding-right:5em;
    margin-bottom:-1em;
  }
img.headerlogo
  {
    float:right;
    width:100px;
    padding-right:1em;
    margin-top:-2em;
    padding-left:.5em;
  }

/* Hero */
.hero
  {
    padding-top:1em;
  }
.hero-left h1
  {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    margin-bottom:-.5em;
  }
.hero-left h3
  {
    text-align:center;
    padding-top:2em;
    padding-left:10px;
  }
.workheading
  {
    padding-top:2em;
  }
.workprojects img
  {
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top:2em;
  }
.workprojects hr
  {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CBDBF2;
    margin: 2em 0 0 0;
    padding: 0;
  }
.paycrave, .blocbox, .knode
  {
    text-align:center;
  }
.paycrave p, .blocbox p, .knode p
  {
    padding-bottom:1em;
  }

/* Recommendation */
.recommendation
  {
    text-align:center;
  }

/* Closing */
.closingstatement
  {
    text-align:center;
  }

/* About */
.about-right h2
  {
    padding-left:.5em;
  }
.about-left img
  {
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:2em;
  }
.about-right
  {
    padding:1em;
  }
.about-right a
  {
    text-decoration:none;
  }
h3#tagline
  {
    color:#CBDBF2;
    font-weight:600;
    padding-top:1.5em;
    padding-left:.5em;
  }
.projects
  {
    text-align:center;
  }
.passionprojects img
  {
    padding:1em;
  }
.personal-left
  {
    padding:1em;
  }
.personal-right img
  {
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-right:2em;
  }


/* Contact */
#contact h2
  {
    text-align:center;
  }
input[type=text], select, textarea
  {
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: 1px solid #CBDBF2;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
input[type=submit]
  {
    background-color: #CBDBF2;
    color: #333333;
    padding: 1em 4em 1em 4em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float:right;
  }
input[type=submit]:hover
  {
    background-color: #CBDBF2;
    color: #869BAE;
    position:relative;

  }
#cntct
  {
    padding-right:10%;
    padding-left:10%;
    padding-bottom:10%;
  }
#cntct textarea
  {
    min-height:10em;
  }
#submit-errors, #submit-success
  {
    display:none;
  }
button, input, select, textarea
  {
    font-family : inherit;
    font-size   : 100%;
  }


/* FOOTER */
footer
  {
    margin:auto;
    margin:1em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
    display:flex;
    justify-content:space-between;
  }
.footer-left
  {
    padding-left:.5em;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
  }
.footer-right
  {
    margin-left:auto;
    margin-right:auto;
  }

/* Hidden for Mobile */
.hero-left br
  {
    display:none;
  }
#headingpart2
  {
    display:none;
  }
.footer-left
  {
    display:none;
  }
.footer-mid
  {
    display:none;
  }
.blocbox-right2
  {
    display:none;
  }
img.headerlogo
  {
    display:none;
  }


/* -------------       Media Queries       ------------- */

/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h3
  {
    font-size:36px;
  }
  h4
  {
    font-size:28px;
  }
  p
  {
    font-size:22px;
  }

/* Hide/Unhide */
  #headingpart2
  {
    display:flex;
  }
  .footer-left, .footer-mid
  {
    display:flex;
  }
  img.headerlogo
  {
    display:block;
    padding-right:5%;
  }


/* Lines */
  #paycrave-button-line
  {
    width:100%;
    margin-left:12em;
    top:-2.5em;
  }
  #blocbox-button-line
  {
    width:75%;
    margin-right:5em;
    top:-2.5em;
  }
  #knode-button-line
  {
    width:100%;
    margin-left:12em;
    top:-2.5em;
  }
  #headshotline
  {
    width:97%;
    top:-1.5em;
  }
  #submitline
  {
    margin-left:20em;
  }

/* Header */
  #headerline
  {
    top: 5px;
  }

/* Work */
  #workheader h2
  {
    font-size:28px;
    text-align:center;
  }
  .paycrave-right, .knode-right, .blocbox-left
  {
    padding-top:2em;
  }

/* Closing Statement */
  .closingstatement
  {
    padding-top:1em;
    padding-bottom:1em;
  }

/* About */
  .aboutme, .personal
  {
    display:flex;
    justify-content:space-between;
  }
  .about-right
  {
    margin-right:-20%;
  }
  .personal-right
  {
    padding-right:2em;
    margin-top:4em;
  }
  #headshot img
  {
    width:1600px;
    padding-top:13em;
    margin-bottom:-1em;
  }
  #personalimage img
  {
    padding-top:5em;
    margin-bottom:-1em;
  }
  #tagline
  {
    margin-top:-2em;
  }

/* Footer */
  footer
  {
    margin-top:-1em;
  }
  .footer-right
  {
    padding-top:.5em;
    margin-left:0;
    margin-right:-10em;
  }
  .footer-mid
  {
    margin-top:1em;
    margin-left:2.5em;
  }
  .footer-left
  {
    margin-top:1em;
    margin-left:0em;
  }
}


/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 992px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  h3
  {
    font-size:28px;
  }
  img.headerlogo
  {
    padding-right:3.5%;
  }
  #workheader h2
  {
    font-size:36px;
  }

/* Hide/Unhide */
  .hero-left br
  {
   display:block;
  }
  .blocbox-right1
  {
    display:none;
  }
  .blocbox-right2
  {
    display:block;
  }

/* Lines */
  #paycrave-button-line
  {
    width:100%;
    margin-left:8em;
    top:-2.5em;
  }
  #blocbox-button-line
  {
    width:100%;
    margin-left:-6em;
    top:-2.5em;
  }
  #knode-button-line
  {
    width:100%;
    margin-left:6em;
    top:-2.5em;
  }
  #ZachLine
  {
    width:20%;
    margin-left:0;
    margin-bottom:-3.7em;
  }
  #ContactLine
  {
    width:65%;
  }
  #submitline
  {
    margin-left:20em;
  }

/* Work */
  .paycrave, .blocbox, .knode
  {
    display:flex;
    justify-content:center;
    padding:4em 2em 4em 2em;
  }
  #paycravescreens img, #blocboxhome img, #knode2 img
  {
    width:2500px;
    padding:1em;
  }
  .blocbox-right2
  {
    padding-top:4em;
  }
  .paycrave-right, .blocbox-left, .knode-right
  {
    margin-top:-2em;
  }
  .paycrave p, .blocbox p, .knode p
  {
    margin-top:-2em;
    padding-left:2em;
  }
  .recommendation h4
  {
    padding-bottom:1em;
  }
  .closingstatement
  {
    padding-top:1em;
    padding-bottom:1em;
  }

/* About */
  .about-heading
  {
    padding-right:25em;
  }
  #headingpart1
  {
    margin-top:1.5em;
  }
  .about-left
  {
    margin-top:-5em;
  }
  .about-right
  {
    margin-right:-10%;
  }
  .projects h3
  {
    padding-left:10%;
    padding-right:10%;
  }
  .personal-right
  {
    margin-top:-1em;
    margin-right:5%;
  }
  #tagline
  {
    padding-left:.5em;
  }

/* Contact Page */
  .contact-heading
  {
    padding-right:20em;
  }
  #cntct textarea
  {
    min-height:20em;
  }

/* Footer */
  .footer-left
  {
    padding-left:1%;
  }
  .footer-right
  {
    margin-right:-19em;
  }

}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h4
  {
    font-size:24px;
  }
  p
  {
    font-size:18px;
    line-height:30px;
  }
  img.headerlogo
  {
    padding-right:3%;
  }

/* Work */
  .paycrave, .blocbox, .knode
  {
    padding:4em 6em 4em 6em;
  }
  .blocbox-right2
  {
    padding-top:0em;
  }
  .paycrave-right, .knode-right
  {
    padding-top:3em;
    padding-left:8em;
  }
  .blocbox-left
  {
    padding-top:2em;
  }
  .recommendation h4
  {
    padding-bottom:2em;
  }
  .closingstatement
  {
    padding-top:3em;
    padding-bottom:3em;
  }

/* About */
  .about-heading, .contact-heading
  {
    padding-right: 40em;
  }
  #headingpart1
  {
    margin-top:1.2em;
  }
  #headshot img
  {
    margin-top:-4em;
  }
  #headshotline
  {
    width:92%;
  }
  .about-right
  {
    padding-top:1em;
    padding-bottom:3em;
    margin-right:-5%;
  }
  .about-left
  {
    margin-top:-2em;
  }
  .passionprojects img
  {
    padding-right:4em;
    padding-left:4em;
  }
  .personal-right
  {
    margin-top:-4em;
  }
  .personal-left
  {
    margin-left:5%;
  }

/* Contact */
#cntct
  {
    padding-right:20%;
    padding-left:20%;
  }

/* Footer */
  .footer-right
  {
    margin-right:-26em;
  }
}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  img.headerlogo
  {
    padding-right:2.5%;
  }
  .about-left
  {
    margin-top:-8em;
  }
  .about-right
  {
    margin-right:0;
  }
  .personal-right
  {
    margin-right:10%;
  }

/* Footer */
  .footer-right
  {
    margin-right:-31em;
  }

}
