.hide
  {
    display: none;
  }
body
  {
    background: #FFFFFF url("../Assets/BG.png");
    -webkit-font-smoothing: antialiased;
  }
body.about-img
  {
    background: url("../Assets/BG_about.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.work-img
  {
    background: url("../Assets/BG_work.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body.contact-img
  {
    background: url("../Assets/BG_contact.png") no-repeat,
    url("../Assets/BG.png");
    background-size:contain;
  }
body a
  {
    color: #333333
  }
body a:hover
  {
    text-decoration: none;
    color: #CBDBF2
  }
html, body
  {
    overflow-x: hidden;
  }
body
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color:#333333;
  }
h1, h2
  {
    font-family: "Lobster", Helvetica, Arial, sans-serif;
  }
h1
  {
    font-size:36px;
  }
h2
  {
    font-size:24px;
    font-weight: normal;
    margin-bottom: 5px;
  }
h3
  {
    font-size:24px;
    font-weight: 600;
  }
h4
  {
    font-size:18px;
    line-height:20px;
    font-weight:300;
  }
p
  {
    font-size:12px;
    line-height:20px;
    font-weight:300;
  }


/* HEADER */
header
  {
    padding-bottom:1em;
  }
header nav ul > li
  {
    list-style-type: none;
  }
header nav ul > li > a
  {
    color:#333333;
    text-decoration: none;
  }
.header
  {
    width:100%;
    height:60px;
    line-height:60px;
    padding:0 0 5% 0;
    margin: auto;
    display:flex;
    justify-content: space-between;
  }


/* MENU */
.mainMenu
  {
    padding-top: 2em;
    padding-right: 2em;
  }
.hamburger
  {
    font-style:
    float:left;
    line-height: 20px;
    padding:1em;
    margin-top: -1em;
    margin-left: -2em;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    z-index:1000;
    position:absolute;
  }
.subMenu
  {
    display:none;
  }

/* Main */
.container
  {
    list-style-type:none;
  }
.title
  {
    height: 2;
    position: relative
  }
.title h1
  {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-right:1em;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
.body_left img
  {
    padding-top:2em;
    width:100%;
  }
.body_left
  {
    padding-right:3em;
    padding-left:3em;
  }
.body_right
  {
    padding:1.5em;
    background-color: rgba(255,255,255,0.6);
  }
.content
  {
    padding-right:5em;
    list-style-type:none;
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
  }
.content img
  {
    padding:1em;
    width:100%;
  }
.conclusion
  {
    padding-top:5em;
    height: 2;
    position: relative
  }
.conclusion p
  {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-right:1em;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }


/* FOOTER */
footer
  {
    margin:auto;
    padding-top:2em;
  }
ul.social_icons, li.social
  {
    padding-left:5px;
    padding-right:5px;
    list-style: none;
    display:inline-block;
    position: relative;
  }
.footer-nav-block
  {
	  margin: auto;
	  border: 2px solid #dddddd;
	  border-radius: 10px;
    padding-top:.5em;
    padding-bottom:.5em;
    display:flex;
    justify-content:space-between;
    background-color: rgba(255,255,255,0.6);
  }
.footer-left
  {
    padding-left:.5em;
  }
.footer-mid
  {
	  padding-top:1em;
	  text-decoration: none;
    text-align:center;
    display:none;
  }


/* -------------       Media Queries       ------------- */



/* iPad Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:32px;
  }
  p
  {
    font-size:16px;
    line-height:30px;
  }
  .title h1
  {
    margin-top:2.5em;
    margin-left:3em;
  }
  .body_left img
  {
    padding-top:2em;
    width:350px;
  }
  .body_left
  {
    padding-right:30em;
    padding-left:3em;
    padding-bottom:2em;
  }
  .body_right
  {
    padding:1.5em;
  }
  .content
  {
    padding-left:2%;
    padding-right:2%;
    list-style-type:none;
    display:flex;
    text:center;
    justify-content:space-around;
    flex-direction:column;
  }
  .left-column, .right-column img
  {
    width:300px;
  }
  .right-column
  {
    padding-left:22em;
    margin-right:-22em;
  }
  .right-third1
  {
    margin-top:-62.3em;
  }
  .right-third2
  {
    margin-top:.2em;
    padding:.2em;
  }
  .center img
  {
    width:600px;
  }
  .center
  {
    padding-top:1em;
    padding-left:1em;
  }

/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 22% 2em 22%;
  }
}

@media only screen
  and (min-width: 830px)
  and (-webkit-min-device-pixel-ratio: 1)
{
  .content
  {
    padding-left:3em;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-width: 925px)
  and (-webkit-min-device-pixel-ratio: 1)
{
/* Main Page */
  .container:before,
  .container:after
  {
    content: " ";
    display: table;
  }
  .container:after
  {
    clear: both;
  }
  .title h1
  {
    margin-top:0em;
    margin-left:0em;
  }
  .body_left img
  {
    padding-top:3em;
    width:350px;
  }
  .body_left
  {
    padding-bottom:2em;
    float:left;
    display:inline-block;
  }
  .body_right
  {
    display:inline-block;
    float:left;
    margin-left:50%;
    margin-top:-20em;
    padding:1.5em;
  }
  .content img
  {
    width:400px;
    padding-left:5%;
  }
  .center img
  {
    padding-left:0;
    margin-left:-2em;
    width:800px;
  }
  .content
  {
    margin-left:-3em;
  }
  .right-column
  {
    padding-left:25em;
    margin-right:-24em;
  }
  .right-third1
  {
    margin-top:-81.5em;
  }
  .right-third2
  {
    margin-top:.2em;
    padding-bottom:1em;
  }
  .center
  {
    margin-top:-1em;
    margin-left:2em;
  }

/* Footer */
  .footer-nav-block
  {
    margin: 0.5em 20% 2em 20%;
  }
  .footer-mid
  {
    display:flex;
  }
  .back
  {
    padding-left:2em;
    padding-right:2em;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2)
{
  h1
  {
    font-size:56px;
  }
  h2
  {
    font-size:48px;
  }
  h4
  {
    font-size:24px;
  }
  p
  {
    font-size:18px;
  }
  .body_left img
  {
    width:450px;
  }
  .body_left
  {
    padding-bottom:2em;
    float:left;
    display:inline-block;
  }
  .body_right
  {
    display:inline-block;
    float:left;
    margin-left:50%;
    margin-top:-25em;
    padding:1.5em;
  }
  .content, .center
  {
    margin-left:5%;
  }
}
@media screen
  and (min-width: 1360px)
  and (-webkit-min-device-pixel-ratio: 2)
{
  .center
  {
    margin-left:-48em;
  }
  .left-column
  {
    margin-left:-52em;
  }
  .right-column
  {
    margin-left:-52em;
  }
}
